cdbody{
    font-family: proxima-nova, sans-serif;
    margin: 0;
    color: rgb(46, 87, 101);
}

/* Start Nav-Bar*/
#nav-bar{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    padding: 10px 0;
    font-weight: 400;
    font-style: normal;
    position: -webkit-sticky;
    position: fixed;
    top: 0px;  
}

#nav-img{
    margin-right: auto;
    margin-left: 40px;
    margin-top: -3px;
}

#header-img{
    height: 100%;
    max-height: 120px;
}

#nav-how{
    margin-right: 50px;
}

#nav-how-Small{
    display: none;
    margin-right: 50px;
}

#nav-order{
    margin-right: 100px;
}

#nav-how, #nav-order, #nav-how-Small{
    align-self: center;
    color: #152D35;
    font-weight: 300;
    font-size: 1.3em;
}

a{
    text-decoration: none;
}
/* End Nav-Bar*/


/* Start Photo*/
.container{
    width: 90%;
    height: 800px;
    margin: 90px 5% 0 5%;
    background-image: url("images/FlowerBasket.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#top-head{
    padding-top: 100px;
}

#bottom-head{
    width: 90%;
    margin: 500px 0 0 -30px;
    padding: 0 90px 0 60px;
    font-family: EB Garamond; 
    font-size: 3em;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    background-color: rgba(235, 196, 206, 0.6);
}

#sub-head{
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 0 30px;
    letter-spacing: 0.1em;
}
/* End Photo*/


/* Start How Section*/
.section-title{
    width: 100%;
    margin-top: 150px;
    font-size: 2.5em; 
    font-weight: 500;
    text-align: center;
}

.hr-title{
    border: none;
    outline: none;
    height: 4px;
    width: 40%;
    background-color: #A36513;
}

#how-list{
    list-style-type: none;
    margin-top: 50px;
    text-align: center;
    padding-left: 0;
    padding-bottom: 30px;    
}

#small, #medium, #large{
    display: inline-block;
    width: 25%;
    text-align: center;
}

#medium{
    margin: 0 30px 0 30px;   
}

#how-list h3{
    font-size: 1.5em;
    font-weight: 500;
}

#how-list p{
    font-size: 1.1em;
    margin-top: 5px;
    color: #152D35;
}

.how{
    margin-top: 80px;
}

#date{
    border: solid   #A36513 2px;
    border-radius: 5px;
    height:  30px;
    width:  150px;
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    color: #152D35;
    background-color: rgba(255, 255, 255, 0.6);
}

#email{
    height: 30px;
    width: 25%;
    border: solid #A36513 2px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;
    padding-left: 10px; 
    color: rgb(77, 71, 71);
    background-color: rgba(255, 255, 255, 0.6);
}

input[type="submit"]{
    margin-top: 20px;
    background-color: #A36513;
    padding: 5px 20px;
    font-size: 0.9em;
    font-weight: 500;
    border: 1px solid rgba(163, 101, 19, 0.7);
    border-radius: 50px;
    box-shadow: 1px 1px 5px  rgb(121, 116, 116);
    color: white;
}

/* Video Section*/
#video-section{
    margin-top: 100px;
    width: 95%;
    margin-left: 2.5%;
    height: 800px;
    padding-top: 100px;
    background-color: #D9CCC5;
    
}

#video-section h2{
    padding: 0;
    margin-top: 0;
}

#video{
    display: flex;
    margin: 70px auto 0 auto;
    width: 60%; 
    height: 500px;
    box-shadow: 3px 3px 5px  rgb(121, 116, 116);
}

/* Footer Section*/
footer{
    display: flex;
    width: 95%;
    margin: 30px auto;
    font-size: 0.8em;
    color: rgba(90, 88, 88, 0.75);
    justify-content: flex-end;
}

#copyright{
    margin-right: auto;
    margin-left: 10px;
}

a#contact{
    margin-right: 20px;
    color: rgba(90, 88, 88, 0.75);
}

a#privacy{
   margin-right: 10px;
   color: rgba(90, 88, 88, 0.75);
}

@media screen and (max-width: 1200px){
    #bottom-head{
        font-size: 2.5em;
        margin-top: 400px;
    }
    #sub-head{
        font-size: 1.7em;
    }
    .section-title{
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px){
    .container{
        height: 600px;
    }
    #bottom-head{
        font-size: 2em;
        margin-top: 300px;
    }
    #sub-head{
        font-size: 1.5em;
        margin-bottom: 0;
    }
    .section-title{
        margin-top: 50px;
    } 
}

@media screen and (max-width: 800px){
    #nav-bar{
        height: 50px;
    }
    #nav-img{
        margin-right: auto;
        margin-left: 40px;
        margin-top: -3px;
    }
    #nav-how, #nav-order, #nav-how-Small{
        font-size: 1em;
    }
    .container{
        height: 500px;
        margin-top: 50px;
    }
    #bottom-head{
        font-size: 1.7em;
        margin-top: 250px;
    }
    #sub-head{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 700px){
    .container{
        height: 400px;
    }
    #bottom-head{
        font-size: 1em;
        margin-top: 150px;
    }
    #sub-head{
        display: none;
    }
    #nav-how, #nav-order{
        font-size: 0.8em;
    }
    #nav-how-Small{
        display: initial;
    }
    #nav-how{
        display: none;
    }
    .section-title{
        font-size: 1.5em; 
    }
    .hr-title{
        height: 2px;
    }
    .how{
        margin-top: 30px;
    }
    #how-list h3{
        font-size: 1.3em;
        margin-top: 0;
    }

    #how-list p{
        font-size: 1em;
        margin-top: 0px;
    }
    #how-list{
        margin-top: 30px;  
    }
}




